.btn-primary { animation: slideIn 2s infinite; -webkit-animation: slideIn 2s infinite; }
@keyframes slideIn {
    0% { transform: translatex(-50%); -webkit-transform: translatex(-50%); -moz-transform: translatex(-50%); -ms-transform: translatex(-50%); -o-transform: translatex(-50%); }
    50% { transform: translatex(0); -webkit-transform: translatex(0); -moz-transform: translatex(0); -ms-transform: translatex(0); -o-transform: translatex(0); }
    100% { transform: translate(50%); -webkit-transform: translate(50%); -moz-transform: translate(50%); -ms-transform: translate(50%); -o-transform: translate(50%); }
}

.btn-primary {
    box-shadow: 10px 7px 20px green;
}