.btn-primary {
    box-shadow: 10px 7px 20px green;
}


#photo {
    box-shadow: 10px 7px 20px pink;
    border-radius: 25% 10%;
    -webkit-border-radius: 25% 10%;
    -moz-border-radius: 25% 10%;
    -ms-border-radius: 25% 10%;
    -o-border-radius: 25% 10%;
}

.card {
    box-shadow: 10px 7px 20px black;
    border-radius: 50% 20%;
    -webkit-border-radius: 50% 20%;
    -moz-border-radius: 50% 20%;
    -ms-border-radius: 50% 20%;
    -o-border-radius: 50% 20%;
}





body {
    background-image: url(berkemah\ kehutan.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

.box {
    background-color: gray;
    width: 12rem;
    position: fixed;
    top: 5%;
    left: 5%;
    transform: translate(-50% -50%);
    z-index: 999;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50px;
    -webkit-border-radius: 50px;
    -moz-border-radius: 50px;
    -ms-border-radius: 50px;
    -o-border-radius: 50px;
    box-shadow: 10px 7px 20px pink;
    animation: fadein 25 infinite,;
    -webkit-animation: fadein 25 infinite,;
    -webkit-transform: translate(-50% -50%);
    -moz-transform: translate(-50% -50%);
    -ms-transform: translate(-50% -50%);
    -o-transform: translate(-50% -50%);
}

.box { animation: bounce 2s infinite; -webkit-animation: bounce 2s infinite; }
@keyframes bounce {
    0% { transform: translateY(0); -webkit-transform: translateY(0); -moz-transform: translateY(0); -ms-transform: translateY(0); -o-transform: translateY(0); }
    40% { transform: translateY(-20px); -webkit-transform: translateY(-20px); -moz-transform: translateY(-20px); -ms-transform: translateY(-20px); -o-transform: translateY(-20px); }
    60% { transform: translateY(-10px); -webkit-transform: translateY(-10px); -moz-transform: translateY(-10px); -ms-transform: translateY(-10px); -o-transform: translateY(-10px); }
}


